.main-container {
    padding: 20px 25px;
    height: calc(100vh - var(--header-nav-height));
    overflow-y: scroll;
}
.main-container > * {
    margin-bottom: 20px;
}
.archive-item-wrapper {
    display: flex;
    height: 200px;
    background-color: var(--dark-color-third);
}
.archive-item-wrapper.log-entry span {
    display: none;
}
.archive-item-wrapper.log-entry li{
    list-style-type: "'   ";
}
.archive-item-wrapper.log-entry li:first-child,
.archive-item-wrapper.log-entry li:last-child {
    list-style-type: "'''   ";
}
.archive-item-text {
    padding: 20px 25px;
    width: 100%;
}
.archive-item-text > p {
    margin-bottom: 20px;
}
.archive-item-description {
    height: 115px;
    overflow: hidden;
}
.archive-item-description > * {
    display: inline;
}
.archive-item-description > span {
    font-weight: bolder;
    letter-spacing: 3px;
}
.archive-item-description > ul {
    list-style-position: inside;
}