:root {
    --dark-color-second: #050505;
    --dark-color-third: #161616;
    --dark-color-fourth: #282828;
    --header-nav-height: 50px;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: var(--dark-color-fourth);
  }
::-webkit-scrollbar-thumb {
    background: gray;
}
* {
    padding: 0;
    margin: 0;
    font-family: "Jost";
    font-size: 16px;
    color: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background-color: var(--dark-color-second);
}
h1 {
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: normal;
}
h1 {
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: normal;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
button {
    all: unset;
    cursor: pointer;
}
button:focus {
    outline: revert;
    z-index: 0;
}
input:focus {
    z-index: 0;
}
svg {
    cursor: pointer;
}
path {
    pointer-events: none;
}
.is-flex {
    display: flex;
}
.hide {
    display: none;
}
.is-circular-container {
    border-radius: 100%;
    overflow: hidden;
}
.is-absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.zero-files-message {
    font-size: 32px;
    padding-top: 20px;
}
@keyframes glow-fade-to-top {
    to {
        top: 25%;
    }
}
@keyframes glow-fade-to-left {
    to {
        left: 0%;
    }
}
