.aside-main {
    height: calc(100vh - var(--header-nav-height));
}
aside {
    max-width: 300px;
    border-right: 1px solid gray;
}
aside > section:not(:last-child) {
    border-bottom: 1px solid white;
}
.settings-subpages li {
    padding: 20px 25px;
    cursor: pointer;
    position: relative;
}
.settings-subpages li:hover {
    padding-left: 40px;
}
.settings-subpages li:not(.subpage):hover {
    color: red;
}
.active-subpage::before {
    position: absolute;
    content: "";
    inset: 0;
    left: 100%;
    background-image: linear-gradient(to left, white, var(--dark-color-second));
    opacity: 25%;
    animation: glow-fade-to-left 0.2s linear forwards;
    z-index: -1;
}
main {
    width: 100vw;
    position: relative;
}
.main-panel {
    display: none;
}
.main-panel-container > * {
    margin: 20px 25px;
}
.settings-option {
    background-color: var(--dark-color-third);
    height: 50px;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.option-button-wrapper {
    display: flex;
    align-items: center;
}
.account-profile-wrapper {
    align-items: center;
}
#account-profile-image {
    width: 34px;
    height: 34px;
    margin-left: 10px;
}
.active-panel {
    display: block;
}
/* switch module */
.switch {
    position: relative;
    width: 60px;
    height: 34px;
    background-color: var(--dark-color-fourth);
    border-radius: 30px;
}
.switch:hover {
    cursor: pointer;
}
.switch::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    top: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
.switch.active-switch::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.active-switch {
    background-color: #008600;
}