@media screen and (max-width: 596px) {
    .main-container {
        text-align: center;
    }
    .archive-item-wrapper {
        flex-direction: column;
        height: unset;
        min-width: 220px;
        align-items: center;
    }
    .archive-item-wrapper > img {
        margin-top: 10px;
        width: 200px;
    }
}