@media screen and (max-width: 767px) {
    .main-wrapper {
        grid-template-columns: auto auto;
        grid-template-areas: 
        "actions"
        "details"
        "description";
        text-align: center;
    }
    .post-details {
        grid-area: details;
    }
    .post-description {
        grid-area: description;
    }
    .post-actions {
        grid-area: actions;
        flex-direction: row;
        justify-content: center;
    }
}